<div class="container">
  <div class="row">
    <div class="col-md-9 contents">
      <%= @workshop_html %>
    </div>
    <div class="col-md-3 table-of-contents">
      <%= @workshop_sidebar_html %>
    </div>
  </div>
</div>
