<% provide(:title, @title) %>

<div class="modal fade" id="project-submission-form" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "new_project_form" %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="workshop-contents">
        <%= @workshop_html %>
      </div>
    </div>
    <div class="col-md-3">
      <%= @workshop_sidebar_html %>
    </div>
  </div>
</div>
