.modal-auth {
  pointer-events: none;
}

.modal-dialog-auth {
  pointer-events: all;
}

.auth-wall {
  position: fixed;
  left: 0;
  right: 0;
  pointer-events: none;

  opacity: 0.5;

  @include filter(blur(1px));
}

.modal-auth-wall {
  max-width: 500px;
}
