// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workshop-contents img {
  max-width: 100%;
}

.workshop-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

// All links
.workshop-sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

// Nested links
.workshop-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

// Active & hover links
.workshop-sidebar .nav > .active > a,
.workshop-sidebar .nav > li > a:hover,
.workshop-sidebar .nav > li > a:focus {
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #563d7c;
}

// All active links
.workshop-sidebar .nav > .active > a,
.workshop-sidebar .nav > .active:hover > a,
.workshop-sidebar .nav > .active:focus > a {
  font-weight: 700;
}

// Nested active links
.workshop-sidebar .nav .nav> .active > a,
.workshop-sidebar .nav .nav> .active:hover > a,
.workshop-sidebar .nav .nav> .active:focus > a {
  font-weight: 500;
}

// Hide inactive nested list
.workshop-sidebar .nav ul.nav {
  display: none;
}

// Show active nested list
.workshop-sidebar .nav > .active > ul.nav {
  display: block;
}

// Shipped projects button
.new-project-btn, .project-submit {
  border: 0;
  border-radius: 1px;
  margin: 0 auto;
  text-align: center;
  color: $white;
  background: $red;
  background-image: linear-gradient(to top right, $red, $purple);
  box-shadow: 0 1px 3px $shadow-1, 0 1px 2px $shadow-3;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px $shadow-4, 0 10px 10px $shadow-2;
    color: $white;
    transform: translate(0, -0.5rem);
  }

  &:focus {
    color: $white;
    outline: none;

    &:active {
      background: $red;
      background-image: linear-gradient(to top right, $red, $purple);
      box-shadow: 0 9px 22px $shadow-4, 0 10px 10px $shadow-2;
      outline: none;
      transform: translate(0, -0.25rem);
    }
  }
}

.project-submit.has-success {
  background: $blue;
  background-image: linear-gradient(to top right, $blue, $green);
  transition-duration: 0.5s;
}
