// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "temporary_bootstrap_styles_and_overrides";

.workshop-contents img {
  max-width: 100%;
}

.workshop-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  // Remove margin from p tags in links (created by Markdown renderer)
  p {
    margin: 0;
  }
}

// All links
.workshop-sidebar .nav > li > a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

// Nested links
.workshop-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

// Active & hover links
.workshop-sidebar .nav > .active > a,
.workshop-sidebar .nav > li > a:hover,
.workshop-sidebar .nav > li > a:focus {
  color: $brand-primary;
  text-decoration: none;
  background-color: transparent;
  border-left-color: $brand-primary;
}

// All active links
.workshop-sidebar .nav > .active > a,
.workshop-sidebar .nav > .active:hover > a,
.workshop-sidebar .nav > .active:focus > a {
  font-weight: 700;
}

// Nested active links
.workshop-sidebar .nav .nav> .active > a,
.workshop-sidebar .nav .nav> .active:hover > a,
.workshop-sidebar .nav .nav> .active:focus > a {
  font-weight: 500;
}

// Hide inactive nested list
.workshop-sidebar .nav ul.nav {
  display: none;
}

// Show active nested list
.workshop-sidebar .nav > .active > ul.nav {
  display: block;
}
